In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv("heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [4]:
df.shape

(918, 12)

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

Treat Outliers

In [6]:
df[df.Cholesterol>(df.Cholesterol.mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [7]:
df.shape

(918, 12)

In [8]:
df1=df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [9]:
df1.shape

(915, 12)

In [10]:
df[df.MaxHR>(df.MaxHR.mean()+3*df.MaxHR.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [11]:
df[df.FastingBS>(df.FastingBS.mean()+3*df.FastingBS.std())]

Empty DataFrame
Columns: [Age, Sex, ChestPainType, RestingBP, Cholesterol, FastingBS, RestingECG, MaxHR, ExerciseAngina, Oldpeak, ST_Slope, HeartDisease]
Index: []

In [12]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [13]:
df2=df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [14]:
df2.shape

(909, 12)

In [16]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [17]:
df3=df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [19]:
df.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [20]:
df.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [21]:
df.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [22]:
df4=df3.copy()

In [26]:
df4.ExerciseAngina.replace(
    {
        'N':0,
        'Y':1
    },
    inplace=True)
df4.ST_Slope.replace(
    {
        'Down':1,
        'Flat':2,
        'Up':3
    },
    inplace=True)
df4.RestingECG.replace(
    {
        'Nomal':1,
        'ST':2,
        'LVH':3
    },
    inplace=True)

In [27]:
df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,0,0.0,3,0
1,49,F,NAP,160,180,0,Normal,156,0,1.0,2,1
2,37,M,ATA,130,283,0,2,98,0,0.0,3,0
3,48,F,ASY,138,214,0,Normal,108,1,1.5,2,1
4,54,M,NAP,150,195,0,Normal,122,0,0.0,3,0

In [30]:
df5=pd.get_dummies(df4,drop_first=True)
df5.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_3,RestingECG_Normal
0,40,140,289,0,172,0,0.0,3,0,1,1,0,0,0,1
1,49,160,180,0,156,0,1.0,2,1,0,0,1,0,0,1
2,37,130,283,0,98,0,0.0,3,0,1,1,0,0,0,0
3,48,138,214,0,108,1,1.5,2,1,0,0,0,0,0,1
4,54,150,195,0,122,0,0.0,3,0,1,0,1,0,0,1

In [31]:
X=df5.drop("HeartDisease",axis="columns")
Y=df5.HeartDisease

In [33]:
from sklearn.preprocessing import StandardScaler

In [35]:
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ..., -0.22914788,
        -0.5027701 ,  0.80934904],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.22914788,
        -0.5027701 ,  0.80934904],
       [-1.74679706, -0.10495034,  0.79657967, ..., -0.22914788,
        -0.5027701 , -1.23556086],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.22914788,
        -0.5027701 ,  0.80934904],
       [ 0.37209878, -0.10495034,  0.35947592, ..., -0.22914788,
         1.98898063, -1.23556086],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.22914788,
        -0.5027701 ,  0.80934904]])

In [32]:
from sklearn.model_selection import train_test_split

In [36]:
X_train,X_test,Y_train,Y_test=train_test_split(X_scaled,Y,test_size=0.2,random_state=30)

In [37]:
X_train.shape

(721, 14)

In [38]:
X_test.shape

(181, 14)

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [41]:
model_rf=RandomForestClassifier()
model_rf.fit(X_train,Y_train)

RandomForestClassifier()

In [42]:
model_rf.score(X_test,Y_test)

0.8784530386740331

Use pca to reduce dimesions

In [43]:
X

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_3,RestingECG_Normal
0,40,140,289,0,172,0,0.0,3,1,1,0,0,0,1
1,49,160,180,0,156,0,1.0,2,0,0,1,0,0,1
2,37,130,283,0,98,0,0.0,3,1,1,0,0,0,0
3,48,138,214,0,108,1,1.5,2,0,0,0,0,0,1
4,54,150,195,0,122,0,0.0,3,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,132,0,1.2,2,1,0,0,1,0,1
914,68,144,193,1,141,0,3.4,2,1,0,0,0,0,1
915,57,130,131,0,115,1,1.2,2,1,0,0,0,0,1
916,57,130,236,0,174,0,0.0,2,0,1,0,0,1,0
917,38,138,175,0,173,0,0.0,3,1,0,1,0,0,1

In [45]:
from sklearn.decomposition import PCA

In [46]:
pca=PCA(0.95)
X_pca=pca.fit_transform(X)
X_pca

array([[ 93.82495748, -29.40097241],
       [-15.58393364, -14.10914853],
       [ 83.29571652,  38.68757373],
       ...,
       [-67.57290291,  17.61301727],
       [ 40.70405787, -33.3879278 ],
       [-19.91339199, -37.29090803]])

In [47]:
X_train_pca,X_test_pca,Y_train,Y_test=train_test_split(X_pca,Y,test_size=0.3)

In [48]:
model_rf1=RandomForestClassifier()

In [49]:
model_rf1.fit(X_train_pca,Y_train)

RandomForestClassifier()

In [50]:
model_rf1.score(X_test_pca,Y_test)

0.7047970479704797

In [51]:
import pickle

In [52]:
with open("Trained_heart_pca","wb") as f:
    pickle.dump(model_rf1,f)

In [53]:
with open("Trained_heart_pca","rb") as f:
    pickle.load(f)